@custom-variant @can-scroll-up {
  @supports (container-type: scroll-state) {
    @container scroll-state(scrollable: top) {
      @slot;
    }
  }
}

@custom-variant @can-scroll-right {
  @supports (container-type: scroll-state) {
    @container scroll-state(scrollable: right) {
      @slot;
    }
  }
}

@custom-variant @can-scroll-down {
  @supports (container-type: scroll-state) {
    @container scroll-state(scrollable: bottom) {
      @slot;
    }
  }
}

@custom-variant @can-scroll-left {
  @supports (container-type: scroll-state) {
    @container scroll-state(scrollable: left) {
      @slot;
    }
  }
}

@utility scroll-area {
  container-type: size scroll-state;
  scrollbar-color: #cacacc #f0f0f280;
  scrollbar-gutter: stable;
  &:hover,
  &:focus {
    scrollbar-color: #888 #f9fafc80;
  }
}

@layer components {
  .scrollable-x {
    @apply scroll-area overflow-x-scroll overflow-y-hidden;
    &::before {
      @apply base-shadow-x left-0;
      @apply @can-scroll-left:set-scroll-shadow-h-high;
    }

    &::after {
      @apply base-shadow-x right-0 left-full;
      @apply @can-scroll-right:set-scroll-shadow-h-high;
    }
  }

  .scrollable-y {
    @apply scroll-area h-full overflow-y-auto;
    &::before {
      @apply shadow-top;
    }
    &::after {
      @apply shadow-bottom;
    }
  }

  .scrollable-xy {
    @apply scroll-area h-full overflow-x-scroll overflow-y-auto;
    &::before {
      @apply shadow-top;
    }
    &::after {
      @apply shadow-bottom;
    }
  }
}

@utility base-shadow {
  @apply sticky z-1 block overflow-hidden transition-shadow;
  transition-duration: calc(1.5 * var(--transition-duration));
  content: '';
}

@utility base-shadow-x {
  @apply base-shadow top-0 bottom-0 h-cqh w-0;
}

@utility base-shadow-y {
  @apply base-shadow left-0 h-0;
}

@utility shadow-top {
  @apply base-shadow-y top-0;
  @apply @can-scroll-up:set-scroll-shadow-top;
}

@utility shadow-bottom {
  @apply base-shadow-y top-full bottom-0;
  @apply @can-scroll-down:set-scroll-shadow-bottom;
}

@utility shadow-left {
  @apply base-shadow-x left-0;
  @apply @can-scroll-left:set-scroll-shadow-h;
}

@utility shadow-right {
  @apply base-shadow-x right-0 left-full;
  @apply @can-scroll-right:set-scroll-shadow-h;
}
