@custom-variant @tooltip-overflow {
  @supports (container-type: anchored) {
    @container anchored(fallback: flip-block) {
      @slot;
    }
  }
}

@utility tooltip-popover-base {
  @apply pointer-events-none dom-play bounce;
  --transition-duration: 250ms;
  &:not(:popover-open) {
    --transition-duration: 650ms;
  }
}

@layer components {
  .tooltip-popover-top {
    @apply tooltip-popover-base;

    &:not(:popover-open) {
      > .tooltip {
        > *:first-child {
          @apply translate-y-full;
        }
      }
    }
  }

  .tooltip-popover-bottom {
    @apply tooltip-popover-base;

    &:not(:popover-open) {
      > .tooltip {
        > *:first-child {
          @apply -translate-y-full;
        }
      }
    }
  }

  .tooltip {
    position-visibility: anchors-visible;
    position-try: flip-block;
    container-type: anchored;

    @apply fixed size-fit overflow-hidden;
    @apply drop-shadow-md drop-shadow-ink/30;
    @apply dom-play bounce;

    > *:first-child {
      @apply max-h-fit w-full;
      @apply text-small leading-4.75;
      @apply bg-yellow-50 px-2.5;
      @apply dom-play bounce;
    }
  }

  .tooltip-top {
    @apply origin-bottom;
    position-area: block-start;

    > *:first-child {
      @apply tooltip-shape-top;
      @apply pt-2 pb-5.5;
      @apply @tooltip-overflow:tooltip-shape-bottom;
      @apply @tooltip-overflow:pt-5.5 @tooltip-overflow:pb-2;
      @apply starting:translate-y-full;
    }
  }

  .tooltip-bottom {
    @apply origin-top;
    position-area: block-end;

    > *:first-child {
      @apply tooltip-shape-bottom;
      @apply pt-5.5 pb-2;
      @apply @tooltip-overflow:tooltip-shape-top;
      @apply @tooltip-overflow:pt-2 @tooltip-overflow:pb-5.5;
      @apply starting:-translate-y-full;
    }
  }
}
