@theme {
  --color-ink: #121014;
  --color-fg-control: #545258;
  --color-fg-control-hover: #666666;
  --color-fg-control-disabled: #9c9a9d;
  --color-line-light: #d4d0d6;
  --color-line-dark: #cccccc;
  --color-line-darkest: #b5b0b8;
  --color-ring-inner: #cfdaff;
  --color-ring: #506acf;
  --color-border-top: #f2ebed;
  --color-border-right: #dad4d8;
  --color-border-bottom: #c0c3c6;
  --color-app: #ebebf3;
  --color-light: #f0f0f5;
  --color-dark: #e1e1e6;
  --color-darker: #e2e0e4;
  --color-paper: #f4f3f2;
  --color-input-active: #fcfafd;
  --color-control: #eceaee;
  --color-control-hover: #f3edf5;
  --color-control-disabled: #e3e0e9;
  --color-control-active: #dedcdf;
  --color-a: #000574;
  --color-a-hover: #000dbd;
  --color-a-active: #b10000;
  --color-a-visited: #390062;
  --color-a-visited-hover: #8900c6;
  --color-scroll-top: #2035432a;
  --color-scroll-bottom: #4065732a;
  --color-text-shadow-lightest: #ffffffcc;
  --color-text-shadow-lighter: #ffffff99;
  --color-text-shadow-light: #ffffff66;
  --color-text-shadow-dark: #ffffff44;
  --color-text-shadow-darker: #bbbbbb33;
  --color-text-shadow-darkest: #99999944;
  --button-gradient-highest-base: #e8eaec;
  --button-gradient-high-base: #dcddde;
  --button-gradient-low-base: #d2d3d4;
  --button-gradient-lowest-base: #cacbcc;
  --button-gradient-highest-active: #b5b5b5;
  --button-gradient-high-active: #cccdcf;
  --button-gradient-low-active: #d2d2d2;
  --button-gradient-lowest-active: #dbdbdb;
}
