@theme {
  --color-ink: #121014;
  --color-fg-control: #545258;
  --color-fg-control-hover: #666666;
  --color-fg-control-disabled: #9c9a9d;
  --color-line-light: #d4d0d6;
  --color-line-dark: #cccccc;
  --color-line-darkest: #b5b0b8;
  --color-ring-inner: #cfdaff;
  --color-ring: #506acf;
  --color-border-top: #e7e8ea;
  --color-border-left: #dadcdf;
  --color-border-right: #c0c2c4;
  --color-border-bottom: #a5a7a9;
  --color-app: #ecedf3;
  --color-dark: #dedddc;
  --color-darker: #e2e0e4;
  --color-paper: #f2eeed;
  --color-input-active: #fcfafd;
  --color-control-hover: #edeaed;
  --color-control-disabled: #e3e0e9;
  --color-control-active: #dedcdf;
  --color-a: #000574;
  --color-a-hover: #000dbd;
  --color-a-active: #b10000;
  --color-a-visited: #390062;
  --color-a-visited-hover: #8900c6;
  --color-scroll-top: #2035432a;
  --color-scroll-bottom: #4065732a;
  --color-text-shadow-lightest: #ffffffcc;
  --color-text-shadow-lighter: #ffffff99;
  --color-text-shadow-light: #ffffff66;
  --color-text-shadow-dark: #ffffff44;
  --color-text-shadow-darker: #bbbbbb33;
  --color-text-shadow-darkest: #99999944;
  --button-gradient-highest-base: #e2e3e8;
  --button-gradient-high-base: #dcddde;
  --button-gradient-low-base: #d1d1d3;
  --button-gradient-lowest-base: #cdcdce;
  --button-gradient-highest-active: #bfbfbf;
  --button-gradient-high-active: #cccdcf;
  --button-gradient-low-active: #d2d2d2;
  --button-gradient-lowest-active: #dbdbdb;
}
