@layer base {
  input[type='text'] {
    transition-behavior: allow-discrete !important;
    interpolate-size: allow-keywords !important;

    /*
    @apply max-w-[50ch] inline-block font-serif
           border-2 border-inset-dim text-center set-fg-control;
           */
    /*
    width: 50px;
*/
    min-width: 10px;
    max-width: 100px;
    field-sizing: content;
    transition: all 2s;
    background: red !important;

    &:focus {
      background: yellow !important;
    }
    &:hover {
      background: orange !important;
    }

    &::selection {
      background: transparent;
    }
  }
}

/*
min-w-3 max-w-full

    &:hover {
      @apply border-inset text-black;
    }
*/
