@layer base {
  select {
    @apply relative h-6 w-[calc(100%-2px)] px-2;
    @apply text-[15px];
    @apply squircle border-[1.5px] inset-xy-dim input-control;
    @apply dom-play;

    appearance: base-select;

    &:hover {
      @apply inset-xy input-control-hover;

      &::picker-icon {
        @apply input-control-hover bg-transparent;
      }
    }

    &::picker(select) {
      @apply: dom-play opacity-0;
      appearance: base-select;
    }

    &::picker-icon {
      @apply chevron-down;
      content: '❯';
    }

    &::picker(select) {
      @apply bg-light p-1.5 shadow-md shadow-neutral-400;
      @apply squircle border border-transparent;
    }

    &:open {
      @apply bg-input-active text-ink;

      &::picker-icon {
        @apply chevron-up;
      }
    }

    option {
      @apply dom-play checked:bg-a/10 hover:bg-a/40;
    }
  }
}

@utility chevron-down {
  @apply bg-transparent text-sm text-fg-control/95 dom-play;
  transform: rotate(90deg);
}

@utility chevron-up {
  transform: rotate(270deg);
}
