@layer base {
  select {
    @apply relative px-2 rounded leading-6 h-5 -translate-y-1
           border-inset-dim-2 set-bg-input set-fg-control
           dom-play box-content w-[calc(100%_-_2rch)];
    appearance: base-select;

    &:hover {
      @apply border-inset-2 set-bg-input-hover set-fg-control-hover;

      &::picker-icon {
        @apply text-black;
      }
    }

    &::picker(select) {
      @apply: dom-play opacity-0;
      appearance: base-select;
    }

    &::picker-icon {
      @apply p-1.5 set-fg-control-hover text-smaller dom-play rotate-90;
      content: '❯';
    }

    &::picker(select) {
      @apply border-1 border-transparent p-1.5
             set-bg-light shadow-md shadow-neutral-400 rounded;
    }

    &:open {
      @apply set-bg-input-active text-black;

      &::picker-icon {
        @apply rotate-270;
      }
    }

    option {
      @apply rounded-[3px] dom-play;

      &:checked {
        background: #0043962a;
      }

      &:hover {
        background: #0043d67a;
      }
    }
  }
}
