@utility light-border {
  @apply border border-line-light;
}

@utility dark-border {
  @apply border border-line-dark;
}

@utility darkest-border {
  @apply border border-line-darkest;
}

@utility squircle-shape {
  @apply corner-squircle;
}

@utility rounded-shape {
  @apply corner-round;
}

@utility squircle {
  @apply rounded squircle-shape;
}

@utility squircle-input {
  @apply rounded-[calc(2*var(--spacing))] squircle-shape;
}

@utility squircle-full {
  @apply rounded-full squircle-shape;
}

@utility squircle-left {
  @apply squircle-shape;
  border-top-right-radius: var(--spacing);
  border-bottom-right-radius: var(--spacing);
  border-bottom-left-radius: calc(5 * var(--spacing) / 2);
  border-top-left-radius: calc(5 * var(--spacing) / 2);
}

@utility squircle-right {
  @apply squircle-shape;
  border-top-left-radius: var(--spacing);
  border-bottom-left-radius: var(--spacing);
  border-bottom-right-radius: calc(5 * var(--spacing) / 2);
  border-top-right-radius: calc(5 * var(--spacing) / 2);
}

@utility border-inset-2 {
  @apply border-2 inset-xy-dim;
}

@utility notched {
  @apply corner-notch;
  &::before,
  &::after {
    @apply corner-notch;
  }
}
