@import './theme/light.css';
@theme {
  --color-border-left: var(--color-line-light);
  --color-border-top-dim: --alpha(var(--color-border-top) / 60%);
  --color-border-right-dim: --alpha(var(--color-border-right) / 60%);
  --color-border-bottom-dim: --alpha(var(--color-border-bottom) / 60%);
  --color-border-left-dim: --alpha(var(--color-border-left) / 60%);
  --color-input-hover: var(--color-light);
  --color-scroll-highest: --alpha(var(--color-ink) / 75%);
  --color-scroll-higher: --alpha(var(--color-ink) / 50%);
  --color-scroll-high: --alpha(var(--color-ink) / 20%);
  --color-scroll-medium: --alpha(var(--color-ink) / 10%);
  --color-scroll-low: --alpha(var(--color-ink) / 7%);
}

@utility text-inset {
  text-shadow:
    0px 1px 1px var(--color-text-shadow-lighter),
    0.5px 1.5px 2px var(--color-text-shadow-dark);
}

@utility text-inset-shallow {
  text-shadow:
    0px 1px 1px var(--color-text-shadow-light),
    0.5px 1.5px 2px var(--color-text-shadow-darker);
}

@utility text-inset-deep {
  text-shadow:
    0px 1px 1px var(--color-text-shadow-lighter),
    0.5px 1.5px 2px var(--color-text-shadow-dark);
}

@utility text-outset {
  text-shadow:
    0px -1px 1px var(--color-text-shadow-light),
    -0.5px -1.5px 2px var(--color-text-shadow-dark);
}

@utility inner-shadow {
  box-shadow:
    inset 2px 3px 4px 1px var(--color-text-shadow-darker),
    inset 0.5px 1px 2px 0.5px var(--color-text-shadow-darkest);
}

@utility control {
  @apply bg-control text-fg-control;
}

@utility control-hover {
  @apply bg-control-hover text-fg-control-hover;
}

@utility control-active {
  @apply bg-control-active text-ink;
}

@utility control-disabled {
  @apply bg-control-disabled text-fg-control-disabled;
}

@utility input-control {
  @apply bg-paper text-fg-control;
}

@utility input-control-hover {
  @apply bg-input-hover text-fg-control-hover;
}

@utility input-control-focus {
  @apply bg-input-active text-ink;
}

@utility outset-x {
  border-right-color: var(--color-border-right);
  border-left-color: var(--color-border-left);
}

@utility outset-y {
  border-top-color: var(--color-border-top);
  border-bottom-color: var(--color-border-bottom);
}

@utility outset-xy {
  @apply outset-y outset-x;
}

@utility inset-x {
  border-right-color: var(--color-border-left);
  border-left-color: var(--color-border-right);
}

@utility inset-y {
  border-top-color: var(--color-border-bottom);
  border-bottom-color: var(--color-border-top);
}

@utility inset-xy {
  @apply inset-y inset-x;
}

@utility outset-x-dim {
  border-right-color: var(--color-border-right-dim);
  border-left-color: var(--color-border-left-dim);
}

@utility outset-y-dim {
  border-top-color: var(--color-border-top-dim);
  border-bottom-color: var(--color-border-bottom-dim);
}

@utility outset-xy-dim {
  @apply outset-y-dim outset-x-dim;
}

@utility inset-x-dim {
  border-right-color: var(--color-border-left-dim);
  border-left-color: var(--color-border-right-dim);
}

@utility inset-y-dim {
  border-top-color: var(--color-border-bottom-dim);
  border-bottom-color: var(--color-border-top-dim);
}

@utility inset-xy-dim {
  @apply inset-y-dim inset-x-dim;
}
