@import './color/light.css';

:root {
  --controlBorderTopDim: color-mix(
    in srgb,
    var(--controlBorderTop),
    transparent 25%
  );
  --controlBorderRightDim: color-mix(
    in srgb,
    var(--controlBorderRight),
    transparent 25%
  );
  --controlBorderBottomDim: color-mix(
    in srgb,
    var(--controlBorderBottom),
    transparent 25%
  );
  --controlBorderLeftDim: color-mix(
    in srgb,
    var(--controlBorderLeft),
    transparent 25%
  );
}

@utility set-bg {
  @apply bg-[var(--bg)];
}

@utility set-bg-light {
  @apply bg-[var(--bgLight)];
}

@utility set-bg-input {
  @apply bg-[var(--bgInput)];
}

@utility set-bg-input-hover {
  @apply bg-[var(--bgInputHover)];
}

@utility set-bg-input-active {
  @apply bg-[var(--bgInputActive)];
}

@utility set-bg-control {
  @apply bg-[var(--bgControl)];
}

@utility set-bg-control-disabled {
  @apply bg-[var(--bgControlDisabled)];
}

@utility set-bg-control-hover {
  @apply bg-[var(--bgControlHover)];
}

@utility set-bg-dark {
  @apply bg-[var(--bgDark)];
}

@utility set-bg-darker {
  @apply bg-[var(--bgDarker)];
}

@utility set-bg-control-active {
  @apply bg-[var(--bgControlActive)];
}

@utility set-bg-terminal {
  @apply bg-[var(--bgTerminal)];
}

@utility set-fg-head {
  @apply text-[var(--fgHead)];
}

@utility set-fg-control {
  @apply text-[var(--fgControl)];
}

@utility set-fg-control-hover {
  @apply text-[var(--fgControlHover)];
}

@utility set-fg-control-disabled {
  @apply text-[var(--fgControlDisabled)];
}

@utility set-fg-control-active {
  @apply text-[var(--fgControlActive)];
}

@utility set-fg-terminal {
  @apply text-[var(--fgTerminal)];
}

@utility set-fg-terminal-dim {
  @apply text-[var(--fgTerminalDim)];
}

@utility set-control {
  @apply set-fg-control set-bg-control;
}

@utility set-control-hover {
  @apply set-fg-control-hover set-bg-control-hover;
}

@utility set-control-active {
  @apply set-fg-control-active set-bg-control-active;
}

@utility set-control-disabled {
  @apply set-bg-control-disabled set-fg-control-disabled;
}

@utility set-terminal {
  @apply set-fg-terminal set-bg-terminal;
}

@utility border-color-outset {
  border-top-color: var(--controlBorderTop);
  border-right-color: var(--controlBorderRight);
  border-bottom-color: var(--controlBorderBottom);
  border-left-color: var(--controlBorderLeft);
}

@utility border-color-inset {
  border-top-color: var(--controlBorderBottom);
  border-right-color: var(--controlBorderLeft);
  border-bottom-color: var(--controlBorderTop);
  border-left-color: var(--controlBorderRight);
}

@utility border-color-outset-dim {
  border-top-color: var(--controlBorderTopDim);
  border-right-color: var(--controlBorderRightDim);
  border-bottom-color: var(--controlBorderBottomDim);
  border-left-color: var(--controlBorderLeftDim);
}

@utility border-color-inset-dim {
  border-top-color: var(--controlBorderBottomDim);
  border-right-color: var(--controlBorderLeftDim);
  border-bottom-color: var(--controlBorderTopDim);
  border-left-color: var(--controlBorderRightDim);
}

@utility set-fg-href {
  @apply text-[var(--href)];
}

@utility set-fg-href-hover {
  @apply text-[var(--href-hover)];
}

@utility set-fg-href-active {
  @apply text-[var(--href-active)];
}

@utility set-fg-href-visited {
  @apply text-[var(--href-visited)];
}

@utility set-fg-href-visited-hover {
  @apply text-[var(--href-visited-hover)];
}
