@utility set-scroll-shadow-top {
  box-shadow:
    var(--color-scroll-top) 0 0 3px 1px,
    var(--color-scroll-bottom) 0 0 8px 4px;
}

@utility set-scroll-shadow-bottom {
  box-shadow:
    var(--color-scroll-top) 0 0px 2px 1px,
    var(--color-scroll-bottom) 0 0px 7px 5px;
}

@utility set-scroll-shadow-h {
  box-shadow:
    var(--color-scroll-high) 0 0 1px 0.75px,
    var(--color-scroll-medium) 0 0 2px 3px,
    var(--color-scroll-low) 0 0 4px 6px;
}
