@utility set-scroll-shadow-top {
  box-shadow:
    var(--scrollShadowTop) 0 0 3px 1px,
    var(--scrollShadowBottom) 0 0 8px 4px;
}

@utility set-scroll-shadow-bottom {
  box-shadow:
    var(--scrollShadowTop) 0 0px 2px 1px,
    var(--scrollShadowBottom) 0 0px 7px 5px;
}

@utility set-scroll-shadow-h {
  box-shadow:
    var(--scrollShadowXHigh) 0 0 2px 1px,
    var(--scrollShadowXMedium) 0 0 8px 6px,
    var(--scrollShadowXLow) 0 0 11px 7px;
}
