:root {
  --font-sans: Inter;
  --font-mono: 'Iosevka Term Slab Web';
  --font-serif: 'CMU Serif';
}

@theme {
  --text-smaller: 0.8125rem; /** 13px */
  --text-smaller--line-height: 1rem; /* 16px */

  --text-tiny: 0.6875rem; /** 11px */
  --text-tiny--line-height: 0.875rem; /* 14px */
}

body {
  font-family: Inter;
}

@utility text-ordinal {
  @apply text-tiny set-fg-control-disabled;
  font-family: 'LM Roman 12';
  font-feature-settings: 'onum' 1;
}

@font-face {
  font-family: 'CMU Serif';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/cmunrm.woff') format('woff');
}

@font-face {
  font-family: 'Iosevka Term Slab Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('/fonts/IosevkaTermSlab-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LM Roman 12';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/lmroman12-regular.otf') format('opentype');
}
