@utility dom-play {
  transition: all var(--transition-duration) ease-in-out;
  transition-behavior: allow-discrete;
}

@utility no-flex {
  @apply shrink-0 grow-0;
}

@utility flex-gap-sm {
  @apply flex gap-0.5;
}

@utility flex-gap {
  @apply flex gap-1.5;
}

@utility flex-gap-col {
  @apply flex-gap flex-col;
}

@utility flex-center {
  @apply flex items-center-safe justify-center-safe;
}

@utility flex-center-gap {
  @apply flex-center flex-gap;
}

@utility flex-center-col {
  @apply flex-center flex-col;
}

@utility grid-gap {
  @apply grid gap-0.5;
}


@utility grid-center {
  @apply grid place-content-center place-items-center;
}

@utility grid-center-1 {
  @apply grid-center grid-cols-1;
}

@utility subgrid-2 {
  @apply col-span-2 grid grid-cols-subgrid;
}

@utility subgrid-3 {
  @apply col-span-3 grid grid-cols-subgrid;
}

@utility dark-col {
  @apply bg-dark flex flex-col rounded;
}

/**
 * A circular arrow label for the repeater inner button.
 */
@utility arrow-circle {
  clip-path: path(
    'm4.28 1.7c-1.8.46-3.14 2.08-3.14 3.97 0 2.26 1.85 4.11 4.16 4.11s4.16-1.85 4.16-4.11c0-1.11-.46-2.13-1.2-2.86-.09-.09-.32-.14-.46 0s-.09.37 0 .46c.65.65 1.02 1.48 1.02 2.45 0 1.94-1.57 3.46-3.51 3.46s-3.51-1.57-3.51-3.46c0-1.57 1.06-2.91 2.54-3.33l-.05.46c0 .05 0 .09.05.14.05 0 .09 0 .14 0l1.94-1.02c0-.05.05-.09.05-.14s-.05-.09-.09-.09l-2.08-.69c-.05 0-.09 0-.14.05s-.05.09-.05.14l.09.55z'
  );
}
