@layer base {
  :root {
    --bg: #ededf3;
    --bgDark: #e3e1eb;
    --bgLight: #f0f0fb;
    --bgInput: #f5eef9;
    --bgInputHover: #f0f2fa;
    --bgInputActive: #fcfafd;
    --bgReverse: #101010;

    --bgControl: #eceaee;
    --bgControlHover: #f3edf5;
    --bgControlDisabled: #e3e0e9;
    --bgControlActive: #dedcdf;

    --fgHead: #56505a;

    --fgControl: #514e54;
    --fgControlHover: #69666e;
    --fgControlDisabled: #89868f;

    --bgTerminal: #000000;
    --fgTerminal: #5adf30;
    --fgTerminalDim: #3acf02;

    --controlBorderTop: #f7f4f9;
    --controlBorderRight: #b1b0b4;
    --controlBorderBottom: #90909a;
    --controlBorderLeft: #d4d4d8;

    --ring: #105fba;
    --ringInner: #afc0df;

    --href: lab(5% 30 -70);
    --href-hover: lab(20% 50 -90);
    --href-active: lab(30% 80 140);
    --href-visited: lab(10% 50 -50);
    --href-visited-hover: lab(35% 70 -70);

    --scrollShadowTop: #2035432a;
    --scrollShadowBottom: #4065732a;
    --scrollShadowXHigh: #00000040;
    --scrollShadowXMedium: #00000030;
    --scrollShadowXLow: #00000020;
  }
}

@utility text-inset {
  text-shadow:
    0px 1px 1px #fffc,
    0.5px 1.5px 2px #fff9;
}

@utility text-inset-shallow {
  text-shadow:
    0px 1px 1px #fff8,
    0.5px 1.5px 2px #fff4;
}

@utility text-inset-deep {
  text-shadow:
    0px 1px 1px #fffd,
    0.5px 1.5px 2px #fffb;
}

@utility text-outset {
  @apply text-black;
  text-shadow:
    0px -1px 1px #fff9,
    -0.5px -1.5px 2px #fff4;
}
