@layer base {
  :root {
    --bg: #ededf4;
    --bgDark: #ebe8ea;
    --bgLight: #f4f0f9;
    --bgInput: #f6f6f6;
    --bgInputHover: #f0f2fa;
    --bgInputActive: #fcfafd;

    --bgControl: #eceaee;
    --bgControlHover: #f3edf5;
    --bgControlDisabled: #e2dee4;
    --bgControlActive: #dedcdf;

    --fgHead: #58545a;

    --fgControl: var(--fgHead);
    --fgControlHover: #48424a;
    --fgControlDisabled: #7f7679;
    --fgControlActive: #1e1c22;

    --bgTerminal: var(--bgInput);
    --fgTerminal: var(--fgControlActive);
    --fgTerminalDim: var(--fgControl);

    --controlBorderTop: #e4e2e8;
    --controlBorderRight: #cbcacd;
    --controlBorderBottom: #b3b0b7;
    --controlBorderLeft: #d4d4d8;

    --darkBorder: var(--controlBorderLeft);

    --ring: #406fca;
    --ringInner: #c8daff;

    --href: lab(5% 30 -70);
    --href-hover: lab(20% 50 -90);
    --href-active: lab(30% 80 140);
    --href-visited: lab(10% 50 -50);
    --href-visited-hover: lab(35% 70 -70);

    --scrollShadowTop: #2035432a;
    --scrollShadowBottom: #4065732a;
    --scrollShadowXHigh: #00000040;
    --scrollShadowXMedium: #00000030;
    --scrollShadowXLow: #00000020;
  }
}

@utility text-inset {
  text-shadow:
    0px 1px 1px #fff9,
    0.5px 1.5px 2px #fff5;
}

@utility text-inset-shallow {
  text-shadow:
    0px 1px 1px #fff8,
    0.5px 1.5px 2px #fff4;
}

@utility text-inset-deep {
  text-shadow: 0px 1px 1px #fffa 0.5px 1.5px 2px #fff6;
}

@utility text-outset {
  text-shadow:
    0px -1px 1px #fff4,
    -0.5px -1.5px 2px #fff2;
}
