@layer base {
  :root {
    --bg: #ededf3;
    --bgDark: #e3e1eb;
    --bgLight: #f4f0f9;
    --bgInput: #f5eef9;
    --bgInputHover: #f0f2fa;
    --bgInputActive: #fcfafd;
    --bgReverse: #101010;

    --bgControl: #eceaee;
    --bgControlHover: #f3edf5;
    --bgControlDisabled: #e2dee4;
    --bgControlActive: #dedcdf;

    --fgHead: #56505a;

    --fgControl: #595254;
    --fgControlHover: #49474d;
    --fgControlDisabled: #7f7679;

    --bgTerminal: #f6f6f6;
    --fgTerminal: #1d2320;
    --fgTerminalDim: #4a4e48;

    --controlBorderTop: #e9e2e2;
    --controlBorderRight: #b8aeb2;
    --controlBorderBottom: #9a969d;
    --controlBorderLeft: #d4d4d8;

    --darkBorder: #d7d0d9;

    --ring: #306fca;
    --ringInner: #b8daff;

    --href: lab(5% 30 -70);
    --href-hover: lab(20% 50 -90);
    --href-active: lab(30% 80 140);
    --href-visited: lab(10% 50 -50);
    --href-visited-hover: lab(35% 70 -70);

    --scrollShadowTop: #2035432a;
    --scrollShadowBottom: #4065732a;
    --scrollShadowXHigh: #00000040;
    --scrollShadowXMedium: #00000030;
    --scrollShadowXLow: #00000020;
  }
}

@utility text-inset {
  text-shadow:
    0px 1px 1px #fffc,
    0.5px 1.5px 2px #fff9;
}

@utility text-inset-shallow {
  text-shadow:
    0px 1px 1px #fff8,
    0.5px 1.5px 2px #fff4;
}

@utility text-inset-deep {
  text-shadow:
    0px 1px 1px #fffd,
    0.5px 1.5px 2px #fffb;
}

@utility text-outset {
  @apply text-black;
  text-shadow:
    0px -1px 1px #fff9,
    -0.5px -1.5px 2px #fff4;
}
