@import 'tailwindcss';
@import './style/text.css';
@import './style/color.css';
@import './style/base.css';
@import './style/border.css';

@utility transition {
  transition: all 250ms;
  transition-behavior: allow-discrete;
}

@layer components {
  .demo {
    background: var(--bg);
  }

  .button {
    @apply border-outset text-center text-inset px-2.5;
    line-height: 1.75;
    color: var(--controlFg);
    background-color: var(--control);

    &::after {
      @apply border-[2px] opacity-45;
    }

    &:hover:not(:disabled) {
      @apply text-inset-deep;
      color: var(--controlFgHover);
      background-color: var(--controlHover);

      &::after {
        opacity: 0.8;
      }
    }

    &:active:not(:disabled) {
      @apply text-outset;
      color: black;
      background-color: var(--controlActive);

      &::after {
        @apply border-inset-after border-[3px];
      }
    }

    &:disabled {
      opacity: 0.6;
      color: var(--controlFgDisabled);
      background: var(--controlDisabled);
    }
  }

  .separator {
    width: 100%;
    border-top-color: var(--controlBorderBottom);
    border-bottom-color: var(--controlBorderTop);
    border-width: 1.5px;
    border-style: solid;
    opacity: 0.4;
  }

  .numeric {
    @apply inline-block border-inset font-normal leading-7 h-6
           pl-1 pr-1.5 text-right overflow-hidden whitespace-nowrap
           font-serif text-black bg-[var(--textHighlight)];

    &::after {
      @apply border-2;
      opacity: 0.5;
    }

    &:hover {
      &::after {
        opacity: 0.9;
      }
    }
  }

  .numeric-flat {
    @apply bg-[var(--textHighlightLow)];
    &::after {
      border-color: transparent;
    }
  }
}
